

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


:root{
  --background: #131313;
  --mainBackground: #1a1a1a;
  --selected-sidar-bg: #353535;
  --button-bg: #3a3a3a;
  --text1: #ffffff;
  --text2: #a3a3a3;
  --text3: #7e7e7e;
  --btn-hover: #58585863;
}

body{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text3);
  font-family: 'Poppins', 'Roboto';
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}
 /* width */
 ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 30px;
}


/* footer style for all pages */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 20px;
  column-gap: 10px;
  border-top: 1px solid var(--btn-hover);
  color: var(--text3);
  font-size: 0.7rem;
}
footer span{
  display: flex;
  font-size: 1rem;
  column-gap: 5px;
  align-items: center;
  font-weight: 500;
  color: var(--text3);
}
footer span p{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text1);
}



@media (min-width: 830px) {
  body{
    flex-direction: row;
  }
}